body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-align: center;
    margin: 0;
    transition: background-color 0.5s ease; /* Smooth background color transition */
}

#main-header {
    background: #3056d3;
    padding: .5em;
    color: white;
    font-size: 1.5em;
    position: relative;
    text-align: center;
    margin-top: 0;
}

#weather {
    background-color: #f6f6f688;
    display: inline-block;
    width: 600px;
    box-shadow: 0 0 4px 4px #8884;
    border-radius: .5em;
    padding: 1em 2em;
}

#locationInput {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 10px;
}

.input-group input {
    padding: 10px;
    width: calc(100% - 22px);
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group button {
    padding: .5em 1em;
    background-color: #3056d3;
    color: white;
    border: none;
    font-size: 1.25em;
    cursor: pointer;
    border-radius: 3em;
    margin-top: .75em;
}

.input-group button:hover, .input-group button:active, .input-group button:focus {
    background-color: #000;
    transition: .5s;
}

#loading {
    font-size: 18px;
    font-weight: bold;
}

.weather-info {
    margin-top: -.5em;
}

.forecast-info {
    margin-top: 20px;
    display: flex;
    overflow-x: auto;
    gap: 15px;
}

.weather-icon {
    width: 75px;
    height: 75px;
}

.forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
}

.forecast-item img {
    width: 80px;
    height: 80px;
}

.forecast-item h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.forecast-item p {
    margin: 5px 0;
}

.clear {
    background-color: #a3daff;
}

.clouds {
    background-color: #d3d3d3;
}

.rain {
    background-color: #9ea7aa;
}

.snow {
    background-color: #e5e7e9;
}

.mist {
    background-color: #c0c0c0;
}

.default {
    background-color: #f6f6f6;
}
